.main-div {
  margin-top: 70px;
}

.nav-item > a {
  color: black;
}

body {
  background-color: #212529;
  color: #fff;
}

.accommodation-list {
  margin: 10px 25%;
  display: inline-block;
  text-align: left;
}

.book-area {
  margin-top: 20px;
  color: #212529;
}
